.compose-btn {
    text-align: left;
    height: 50px;
    border-radius: 15px;
    background-color: #c2e7ff;
    border: 1px solid transparent;
    border: 0;
    width: 50px;
}

.compose-btn:hover {
    box-shadow: inset 2px -2px 5px rgba(100, 121, 143, 0.12);

}

.compose header {
    background-color: #c2dbff;

}


.compose-content {
    height: 300px;
    width: 300px;
}

button {
    cursor: pointer;
}