.mail-title span::before {
    content: '<';
}

.mail-title span::after {
    content: '>';
}

.mail-details img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.details-img-name {
    display: flex;
    justify-content: space-between;
}

.details-img-name span {
    font-size: 14px;
}

.right-side {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.left-side {
    padding-right: 20px;
    font-size: 12px;
}




.mail-details button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 5px;
    padding: 8px 15px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-size: 14px;
}

.mail-details button:hover {
    background-color: #c9c9c9;
    border: 1px solid #bbb;
}


.change-mail {
    display: flex;
}