 /* mail list */

 .mail-preview li {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #f6f8fc;
     color: #202124;
 }

 .mail-preview li:hover {
     background-color: #c2dbff;
 }

 .mail-text {
     display: flex;
     align-items: center;
 }