.search input {
    width: 500px;
    height: 20px;
    border-radius: 15px;
    padding: 7px 3rem 7px 3rem;
    border: none;
    background-color: #eaf1fb;
}

.search input:focus {
    background-color: white;
    border: none;
    outline: none;
    box-shadow: inset 0 0 3px 2px rgba(0, 0, 0, .2);
}


.search form {
    display: grid;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    padding: 7px;
    background-color: #f2f6fc;
    grid-template-columns: 100px 0 1fr 100px;
    justify-items: center;
}

.search button {
    position: absolute;
    border: 1px solid transparent;
    border: 0;
    background-color: transparent;
    top: 30%;
    left: 2%;
}

.search-container {
    position: relative;
}


.custom-select {
    width: 100px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.custom-select option {
    background-color: #fff;
    color: #333;
}


.search {
    /* display: flex; */
}