 /* mail list */


 .mail:hover {
     box-shadow: inset 2px -2px 5px rgba(100, 121, 143, 0.12);

 }

 .mail {
     display: grid;
     grid-template-columns: 30px 200px 1fr 120px;
     align-items: center;
     justify-content: center;
     align-content: center;
     background-color: #f2f6fc;
     color: #202124;
     height: 50px;
     box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
 }

 body:not(header) {
     font-family: robertfo-medium;
     font-size: 14px;
 }


 .mail-text {
     display: flex;
     align-items: center;
 }

 .unread {
     font-weight: bold;
 }

 .star {
     visibility: hidden;
     font-size: 23px;
     cursor: pointer;
     color: #FFBF00;
     translate: 0 -67%;
 }

 .star:before {
     content: "\2606";
     position: absolute;
     visibility: visible;
 }

 .star:checked:before {
     content: "\2605";
     position: absolute;
 }


 .mail-preview {
     padding: 0;
     margin: 0;
 }


 .mail p {
     margin: 0px;
 }


 .mail-btn {
     position: absolute;
     display: none;
     translate: -45% -80%;
     background-color: #f2f6fc;
     padding: 10px;
     padding-left: 60px;
 }

 .mail-btn button {
     border: 1px solid transparent;
     border: 0;
     background-color: #f2f6fc;

 }

 .mail:hover .mail-btn {
     display: grid;
     grid-auto-flow: column;
     gap: 10px;

 }


 .mail-index {
     display: grid;
     grid-template-columns: 100px 1fr;
     grid-auto-flow: column;
     background-color: #f2f6fc;
 }

 .side-bar {
     font-size: 13px;
     display: grid;
     justify-content: left;
     align-items: center;
     grid-auto-flow: row;
     background-color: #f2f6fc;
     width: 90px;
     transition: width 0.5s 0.1s;
     z-index: 10;

 }

 .side-btn {
     display: none;
     opacity: 0;
 }

 .side-bar:hover {
     width: 200px;

     .compose-btn {
         width: 150px;
     }

     .side-btn {
         display: inline;
         opacity: 1;
         animation: fadeIn 0.4s ease;
     }

 }

 .side-bar a:hover {
     background-color: #dadce0;
     width: 170px;
     border-radius: 15px;
 }



 .main {
     display: grid;
     grid-template-rows: 50px 1fr;
 }


 @keyframes fadeIn {
     0% {
         opacity: 0;
     }

     50% {
         opacity: 0.4;
     }

     75% {
         opacity: 0.6
     }

     90% {
         opacity: 0.8;
     }

     100% {
         opacity: 1;
     }
 }