.about-container {
  padding-block-start: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.about-container .developer-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10em;

}

.developer-section .developer{

  padding: 1.6em 3em;
  border-radius: 7px;
  box-shadow: 
  1px 1px 1px 1px rgba(0, 0, 0, .5),
  inset 2px 2px 2px 1px rgba(0, 0, 0, .2)  ;
}

.developer-section .developer .social-links{
  display: flex;
  font-size: 2em;
  gap: 1em;
}

/* home */

img.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: -50% -50%;
  width: 70px !important;
  height: 70px !important;
  animation: l1 .7s ease-in;
  animation-fill-mode: forwards;
  background-color: #00000022;

  box-shadow:
    inset 5px 1px 10px 5px rgba(0, 0, 0, 0.7),
    0 0 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 0.2rem;
}


.home-container {
  padding-block-start: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.home-container h1 {
  font-size: 2.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}

.home-container .app-links{
  display: flex;
  gap: 10em;
}

.home-container img {
  cursor: pointer;
  position: absolute;
    background-color: #00000022;
    box-shadow:
        inset 5px 1px 10px 5px rgba(0, 0, 0, .7),
        0 0 5px 2px rgba(0, 0, 0, .2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: .2rem;
}

.img-container {
  position: relative;
  width: 40px;
  height: 40px;
}


@keyframes l1 {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(5, 5);
  }
}