.note-preview {
  list-style: none;
  break-inside: avoid;
  border: 1px solid black;
  border-radius: 7px;
  padding: 1rem;
}

.note-preview span.todo{
  font-weight: 600;
}

.note-preview span.done{
  text-decoration: line-through;
}