.note-search {
  display: flex;
  flex-direction: column;
  background: #f2f6fc;
  min-height: calc(100dvh - 21.6px - 40px - 1.6px);
}

.note-search {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  text-align: center;
}